<% include header %>
<section class="py-6" id="home">
	<div class="container col-md-12 col-lg-11 ">
		<div class="row">
			<% include tasks %>
			<% include add_task %>
		</div>
	</div>
</section>
<% include footer %>
