<% include header %>
<link rel="stylesheet" type="text/css" href="weekli.js/css/weekli.css"/>
<script type="text/javascript" src="weekli.js/js/weekli.js"></script>
<section class="py-6" id="home">
	<div class="container col-md-12 col-lg-11 ">
		<div class="row">
			<% include tasks %>
			<% include add_task %>
		</div>
	</div>
</section>
<!--scroll to top-->
<div class="scroll-top">
	<i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.0/feather.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
