<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Scrum is a beautiful Bootstrap 4 template for multipurpose landing pages."/>
	<!--Google font IBM Plex Sans-->
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700" rel="stylesheet">
	<!--vendors styles-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/red.css" id="theme-color">
	<link rel="stylesheet" type="text/css" href="weekli.js/css/weekli.css"/>
	<title><%= title %></title>
</head>
<body>
<!--navigation-->
<section class="smart-scroll">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-md navbar-light pb-2 pt-2">
			<a class="navbar-brand heading-black" href="index.html">
				LifeCoach
			</a>
			<button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
					data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
				<span data-feather="menu"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link page-scroll" href="#features">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link page-scroll" href="#reviews">Reviews</a>
					</li>
					<li class="nav-item">
						<a class="nav-link page-scroll" href="#pricing">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link page-scroll" href="#faq">FAQ</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</section>
