<div class="pl-1 pr-1 col-md-6 col-sm-12 mb-2 text-md-left pb-md-0">
	<div class="card">
		<div class="card-body p-2 tasks mb-1">
			<h5 class="text-center">Your tasks</h5>
			<span class="text-muted no-tasks">None for now...</span>
		</div>
	</div>
</div>
<script>
	function deleteTask(id)
	{
		if (confirm('Are you sure?'))
		{
			var xhr = new XMLHttpRequest();
			xhr.open("DELETE", '/API/actions/' + id, true);
			xhr.onreadystatechange = function() {
				if (this.readyState === XMLHttpRequest.DONE && this.status === 202) {
					window.location = window.location;
				}
				else if (this.status == 520) {
					console.error('error')
				}
			}
			xhr.send();
		}
	}
	var xhr = new XMLHttpRequest();
	xhr.open("GET", '/API/actions', true);
	xhr.onreadystatechange = function() {
		if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
			var tasks = JSON.parse(xhr.response)
			console.log(tasks)
			tasks.forEach(task => {
				var tmp = document.createElement('div');
				tmp.className = "task";
				tmp.id = task._id;
				var progress = task.completion / task.goal;
				tmp.innerHTML = `
					<button type="button" class="float-right btn btn-outline-danger" onclick="deleteTask('${task._id}')"><i class="fa fa-trash"></i></button>
					<!-- <button class="btn float-right mr-1 btn-outline-info" type="button"><i class="fa fa-bar-chart"></i></button> -->
					<!-- <button type="button" class="btn btn-outline-secondary float-right mr-1"><i class="fa fa-edit"></i></button> -->
					<h6 class="task_name"></h6>
					<span class="text-muted">${parseInt(task.completion)} minutes today</span>
					<div class="progress task-progress">
						<div class="progress-bar bg-success" role="progressbar" style="width: ${progress}%" aria-valuenow="${progress}" aria-valuemin="0" aria-valuemax="100">
						</div>
					</div>
					<hr>`;
				tmp.querySelector('.task_name').innerText = task.name;
				tmp.id = task._id;
				document.querySelector('.tasks').appendChild(tmp);
			})
		}
		else if (this.status == 520){
//			alert(xhr.response)
			console.error('error')
		}
	}
	xhr.send();
</script>
